<mat-card>
  <form #ownerForm="ngForm" (ngSubmit)="save(ownerForm.value)">

    <mat-card-header>
      <mat-card-title>
        <h2>{{ owner.dni ? "Edit" : "Add" }} Owner</h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="owner.href" />

      <!--Campos para ingresar del owner-->

      <mat-form-field>
        <input matInput placeholder="Dni" [(ngModel)]="owner.dni" required name="dni" #dni />
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="owner.name" required name="name" #name />
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Profession" [(ngModel)]="owner.profession" required name="profession" #profession />
      </mat-form-field>
      <br>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!oldOwner">
        Create
      </button>

      <!--Boton Save-->
      <button mat-raised-button color="primary" type="submit" [disabled]="oldOwner">
        Update
      </button>

      <!--Boton Delete-->
      <button mat-raised-button color="secondary" (click)="remove(owner.href,owner.dni)" *ngIf="owner.href" type="button">
        Delete
      </button>

      <!--Boton Cancelar-->
      <a mat-button routerLink="/owner-list">Cancel</a>
    </mat-card-actions>


  </form>

</mat-card>
